<div class="container mt-5">
  <div class="d-none d-lg-block d-xl-block d-xxl-block">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Chinese Name</th>
          <th scope="col">Portuguese Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        @for (item of pratos; track item.portugueseName) {
          <tr>
            <td style="width: 300px"><img [src]="item.imageUrl" style="width: 100%;"/></td>
            <td style="width: 150px">{{ item.chineseName }}</td>
            <td>
              {{ item.portugueseName }}
              <div>
                <button class="btn btn-primary" (click)="copyTitle(item.portugueseName)">
                  Copy
                </button>
              </div>
            </td>
            <td>
              {{ item.description }}
              <div>
                <button class="btn btn-primary" (click)="copyDesc(item.description)">
                  Copy
                </button>
              </div>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>

  <div class="d-sm-block d-md-none">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Chinese Name</th>
          <th scope="col">Portuguese Name</th>
        </tr>
      </thead>
      <tbody>
        @for (item of pratos; track item.portugueseName) {
          <tr>
            <td style="width: 150px"><img [src]="item.imageUrl" style="width: 100%;"/></td>
            <td>{{ item.chineseName }}</td>
            <td>
              {{ item.portugueseName }}
              <div>

                <button class="btn btn-primary" (click)="copyTitle(item.portugueseName)">
                  Copy
                </button>
              </div>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>
</div>
